$Grayish_blue: hsl(237, 18%, 59%);
$Soft_red: hsl(345, 95%, 68%);

$White: hsl(0, 0%, 100%);
$Dark_desaturated_blue: hsl(236, 21%, 26%);
$Very_dark_blue: hsl(235, 16%, 14%);
$Very_dark_blue_BL: hsl(234, 17%, 12%);

// - Family: [Red Hat Text](https://fonts.google.com/specimen/Red+Hat+Text)
// - Weights: 700
